<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.teachmeskills.an03onl_accountingoffinancesapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:name="io.teachmeskills.ExpensesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AccountingOfFinances"
        >

<!--        tools:ignore="AllowBackup,ExtraText,MissingClass">-->
        <activity android:name="io.teachmeskills.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="io.teachmeskills.notification.NotificationReceiver"/>

        <service android:name="io.teachmeskills.notification.NotificationActionService"/>
    </application>

</manifest>